---
layout: default
title: GitLab+Salesforce Trailhead DX
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab for Salesforce DX Promotional Offer
        %h2.page-headline Sign up for 3 free months of GitLab.com Gold to bring modern DevOps practices to Salesforce

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-md-10.col-md-offset-1
          .content-section
            %h3 Existing Salesforce user, but not currently a GitLab user
            %p If you have an existing Salesforce ID, <a href="https://gitlab.com/users/sign_in#register-pane" target="_blank">click here</a> and register through Salesforce SSO. Once your account is created and you have logged in for the first time, you will be eligible to start a free 30 day <a href="https://about.gitlab.com/pricing/" target="_blank">GitLab.com Gold</a> trial by default. You will see a banner to activate your 30 day trial after logging in, please activate that. You now are off and running in GitLab.com! Once your GitLab account is affiliated with your valid Salesforce ID (in about a week or less), it will be automatically extended to the 3 free months. To <a href="https://about.gitlab.com/2019/05/30/sfdx-promo-trailhead-blog/" target="_blank">learn more, check out our blog post</a> and <a href="https://trailhead.salesforce.com/content/learn/projects/automate-cicd-with-gitlab" target="_blank">Trailhead Module</a>!
            %h3 Existing SFDC user and an existing GitLab.com (SaaS) user, or GitLab Enterprise user
            %p Please complete the form on this page using your valid Salesforce ID and a GitLab specialist will reach out to you directly to help get you started with your free 3 months.
            %p Once your 3 month trial expires, your account will be automatically downgraded to <a href="https://about.gitlab.com/pricing/" target="_blank">GitLab Free</a> which includes core features like Source Code Management and Continuous Integration / Continuous Delivery for free.

  #form.form-content-container
    .container
      %h2.centered-form-title Sign up for your 3-month Trial
      %p.centered-form-title <strong>This Salesforce + GitLab offer is only available to be activated between May 28, 2019 through July 31, 2019</strong>
      .centered-form
        %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
        %form#mktoForm_2078
        :javascript
          MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 2078, function(form) {
            form.onSuccess(function() {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              return false;
            });
          });
    .confirmform{ style: "visibility:hidden;" }
      .col-md-4.col-md-4.col-md-offset-1
        %h3.centered-form-title Thank you for interest!
        %p.centered-form-title Your request has been received. We will be intouch shortly.