---
layout: markdown_page
title: "Product Vision - Package"
---

- TOC
{:toc}

## Package management

The Package stage allows you to publish, consume and discover packages, all in one place. We believe that source code and dependencies should live in one secure environment, protected by your GitLab credentials. The efficiencies gained by centralization allow you to focus on productivity. By integrating with GitLab's [CI/CD product](/direction/cicd), we can ensure efficient and reliable pipelines. 

GitLab Package is part of the [CI/CD](/direction/cicd) department, and includes elements of
[mobile development and delivery](/direction/mobile) use cases; if you're
interested in those topics, be sure to check out those links.

Feel free to reach out to PM Tim Rizzi ([E-Mail](mailto:trizzi@gitlab.com)) if you'd like to provide feedback or ask questions about what's coming.

## North Stars

There are a few important north stars we are keeping sight of to guide us forward in this space. With each of these, we're focusing on complete (what we call minimally lovable) features.

We track epics for many of the major deliverables associated with these north stars,
you can view them on a calendar at [this link](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3A%3Apackage&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS).

### Universal Package Management

Developers rely on a variety of language-specific package manager clients to access, build and publish packages. Our vision is to provide a universal package manager, one that integrates with the most commonly used clients and makes them accessible in a single, shared location. Success is defined by our ability to not only support a wide variety of package manager clients, but to provide a consistent, delightful user experience with each integration. We currently support Maven, NPM and Docker. We will be adding support for C++ (Conan), .net (NuGet), Linux (Debian, RPM), and Helm Charts (Kubernetes).

Related Epics:

- [Support additional package manager clients](https://gitlab.com/groups/gitlab-org/-/epics/1245)
- [Improve the usability of the GitLab Package Registry](https://gitlab.com/groups/gitlab-org/-/epics/1241)

### Secure, Accessible Integrations

As we roll out support for additional package management clients, we must ensure that we provide a secure, unified method of authentication. Our vision is to allow users to leverage their [personal access token](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html) for authenticating with any of the GitLab package repositories. In order to support managing dependencies from CI/CD builds, we will also support authenticating with [CI_JOB_TOKEN](https://docs.gitlab.com/ee/user/project/new_ci_build_permissions_model.html#job-token) 

Related Epics:

- [Standardize authentication and permissions for the GitLab Registry](https://gitlab.com/groups/gitlab-org/-/epics/1243)

### Dependable and Performant Supply Chains

Developers rely on an ever-growing list of external, 3rd party dependencies. Each of those dependencies must be downloaded, stored, and updated as part of the software development lifecycle. Our vision is to provide users a reliable, performant location for downloading, caching and managing all of their external dependencies. 

We are actively working on improving our storage optimization features, which will allow administrators to better track usage, set limits, and establish policies to reduce the overall cost of storage of the GitLab Package Registry. We will continue to roll out the GitLab Dependency Proxy to a broader audience. This will minimize the number of external downloads, improve build times, and reduce the risk of 3rd party outages. 

Related Epics:

- [Lower the cost of the registry by improving storage management](https://gitlab.com/groups/gitlab-org/-/epics/434)
- [Roll out the dependency proxy to all users](https://gitlab.com/groups/gitlab-org/-/epics/1372)

<%= partial("direction/categories", :locals => { :stageKey => "package" }) %>

<%= partial("direction/contribute", :locals => { :stageKey => "package" }) %>

## Prioritization Process

It's important to call out that the below plan can change any moment and should not be taken as a hard commitment, though we do try to keep things generally stable. In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization) as the product team at large. Issues will tend to flow from having no milestone, to being added to the backlog, to being added to this page and/or a specific milestone for delivery.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "package" }) %>